<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Doit</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list lines="full">
      <ion-menu-toggle auto-hide="false">
        <ion-item *ngFor="let item of menuItems" [routerLink]="item.route" routerDirection="forward">
          <ion-icon slot="start" [name]="item.icon"></ion-icon>
          <ion-label>{{ item.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>