<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manage-categories"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditing ? 'Editar Categoría' : 'Nueva Categoría' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card class="big-card">
          <ion-card-header>
            <ion-card-title>{{ isEditing ? 'Guardar Cambios' : 'Agregar Categoría' }}</ion-card-title>
            <ion-card-subtitle>Completa los datos</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <form (ngSubmit)="saveCategory()" #catForm="ngForm">
              <ion-item lines="full">
                <ion-label position="floating">Nombre de la categoría</ion-label>
                <ion-input
                  name="name"
                  [(ngModel)]="newCategoryName"
                  required
                  clearInput
                ></ion-input>
              </ion-item>

              <ion-item lines="none" class="color-item">
                <ion-label>Color</ion-label>
                <ion-input
                  type="color"
                  name="color"
                  [(ngModel)]="newCategoryColor"
                ></ion-input>
              </ion-item>
            </form>
          </ion-card-content>
        </ion-card>

        <ion-button
          expand="full"
          size="large"
          fill="solid"
          color="secondary"
          shape="round"
          class="save-button ion-margin-top"
          [disabled]="!newCategoryName"
          (click)="saveCategory()"
        >
          <ion-icon slot="start" name="save-outline"></ion-icon>
          {{ isEditing ? 'Guardar Cambios' : 'Agregar Categoría' }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>